.header {
    display: flex;
    width: 95%;
    margin: auto;
    align-items: center;
}

.header__title {
    display: flex;
    justify-content: left;
    align-items: center;
}

.header__nav {
    display: flex;
    margin: auto;
}

.header__notification {
    display: flex;
    justify-content: right;
}